<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ site.title }}{% if page.label %} | {{ page.label }}{% elsif page.title %} | {{ page.title }}{% endif %}
  </title>

  <meta property="og:title" content="{{ site.title }}{% if page.label %} | {{ page.label }}{% elsif page.title %} | {{ page.title }}{% endif %}" />
  <meta property="og:type" content="map" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />

  <link rel='canonical' href='{{ page.url | absolute_url }}'/>
  <link rel='icon' type='image/png' href="{{ 'img/logo.png' | absolute_url }}">
  <link rel='stylesheet' href="{{ '/assets/styles.css' | absolute_url }}"/>

  <script type='text/javascript' src="{{ '/assets/jquery-3.2.1.min.js' | absolute_url }}"></script>
  <noscript><p>Please enable JavaScript in your browser.</p></noscript>
  
  {% if page.map %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <style type="text/css">
     #mapid { height: 500px; }
   </style>
  {% endif %}

  <script src="https://hypothes.is/embed.js" async></script>
</head>
